[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
autoflake = "*"
autopep8 = "*"
flake8 = "*"
flake8-type-annotations = "*"
isort = "*"
rope = "*"
httpretty = "*"
sure = "*"
ftfy = "*"

[packages]
six = "==1.10.0"
bs4 = "*"
requests = "*"
jupyter = "*"
jupyterlab = "*"
click = "*"
pandas = "*"
pdf2image = "*"

[requires]
python_version = "3.7"
