<?xml version="1.0" encoding="UTF-8"?>
<article courier_id="{{ article.courier_id }}" record_number="{{ article.record_number }}" title="{{ article.title }}" year="{{ article.year }}" publication_date="{{ article.publication_date }}">

{% for page in article.pages %}
<page page_number="{{ page.page_number }}" page_index="{{ loop.index }}">
<![CDATA[{{ page.text }}]]>
</page>
{% endfor %}

</article>
